body,
.button,
.cell {
  font-family: 'JetBrains Mono', monospace;
}

.cell {
  font-weight: 700;
}

.button {
  font-weight: 500;
}

.footer {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
  font-size: 12px;
}
